* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  height: 100%;
  font-weight: 400;
  width: 100%;
  margin-bottom: auto;
}
a:hover {
  color: brown;
}
body.dark {
  background-color: rgb(50, 51, 58);
  color: rgb(0, 0, 0);
}
li {
  position: relative;
  border: 1px groove rgb(24, 81, 96);
  box-shadow: currentColor 0px 1px 10px;
  width: 93%;
  border-radius: 3px;
  flex-wrap: wrap;
  border: 1px groove gray;
  background-color: rgb(204, 205, 204);
  list-style-type: none;
  display: inline;
}
